<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0 50px 0;
      }
      li {
        margin: 10px 0;
      }
      button {
        border: none;
        background: none;
        color: red;
        font-family: sans-serif;
        cursor: pointer;
        margin-left: 5px;
      }
      div {
        margin: 30px auto;
      }
    </style>
  </head>

  <body>

    <header class="">
      Todo App
    </header>

    <main class="">
      <section>
        <form id='form' autocomplete="off">
          <div>
            <label for="description">Create a todo</label>
            <input type="text" id="description" name="description"/>
            <input type="submit" id="submit" value="create" />
          </div>
        </form>
      </section>

      <section class="">
        <div id="error" class='hidden'>Something went wrong</div>
        <ul id="todos">
          {% for d in data %}
          <li id="todo-{{ d. id  }}" >
            <input class='todo-check' data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %}/>
            {{ d.description }}
            <button class='todo-delete' data-id="{{ d.id }}">&#10006;</button>
          </li>
          {% endfor %}
        </ul>
      </section>
    </main>
    <script>
      const checkCompleteInputs = document.querySelectorAll('.todo-check');
      checkCompleteInputs.forEach( checkbox => {
        checkbox.onchange = ({ target }) => {
          fetch('/todos/toggle/' + target.dataset['id'], {
            method: 'POST',
            body: JSON.stringify({
              'completed': target.checked
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(() => window.location.reload())  // This is a solution of mine to reload with updated data
          .catch(error => {
            console.error(error);
            document.getElementById('error').className = '';
          });
        }
      });

      document.getElementById('form').onsubmit =
        event => {
          event.preventDefault();
          if (document.getElementById('description').value) {
            fetch('/todos/create', {
              method: 'POST',
              body: JSON.stringify({
                'description': document.getElementById('description').value
              }),
              headers: {
                'Content-Type': 'application/json'
              }
            })
            // .then(response => { return response.json()})
            // .then(jsonResponse => {
            //   console.log('$$$ jsonResponse', jsonResponse);
            //   const newLi = document.createElement('LI');
            //   newLi.innerHTML = jsonResponse['description'];
            //   document.getElementById('todos').appendChild(newLi);
            //   document.getElementById('error').className = 'hidden';
            // })
            .then(() => window.location.reload())
            .catch(error => {
              console.error(error);
              document.getElementById('error').className = '';
            });
          }
        }

      const checkDeleteButton = document.querySelectorAll('.todo-delete');
      checkDeleteButton.forEach( checkbox => {
        checkbox.onclick = ({ target }) => {
          fetch(`/todos/${target.dataset['id']}`, {
            method: 'DELETE',
          })
          .then(() => window.location.reload())
          .catch(error => {
            console.error(error);
            document.getElementById('error').className = '';
          });
        }
      });

    </script>
  </body>

</html>